#header,
#top_search,
#menu,
ul#navbar,
#bottom,
#list_container fieldset,
#list_container #add,
#list tfoot div,
#list tfoot a.np
    {display:none;}


/*
#list th {background-color:#ccc;}
#list th, #list td {border:1px solid #ccc;}
*/

.noprint {display:none;}
body {background:none;}

#list caption {border-bottom: 1px solid #666; padding-bottom: 3px; margin-top: 3px; margin-bottom: 5px;}
#list_container caption {font-weight:bold;}
#list_container td:last-child {padding-right:0;}
#user_tpg {border:0; background-image:none; font-weight:bold;}



