/** n_tabs **/
.ntabs { margin: 0; padding: 0; list-style: none; margin-top: 0px; clear:both;}
.ntabs li {

    float: left; padding:5px 7px;

    border-collapse: collapse;
    border:1px solid #fff;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-right:8px;

    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;


}


.ntabs li.selected {

    /*font-weight: bold; */

    border:1px solid #1570B8;
    color: white!important;
    background-color: #1570B8;
}

.ntabs li.selected a {
    color: white!important;
}

.ntabs li:hover {
    cursor: pointer;
    color: black;
}

.ntabs_content {border:1px solid #ccc; clear: left; display: block;
    background-color: #fff;
    margin-top: -1px;
}
.ntab_content {display: none; padding: 20px 10px;}

.ntab_content:first-child, .ntab_content_selected {display: block;}

.ntab_content p > label {padding-top: 3px;}
.ntab_content hr {margin-top: 20px; margin-bottom: 20px; height: 1px; border: 1px; width: 80%; text-align: center; color: #ccc; border-color:#ccc; background-color: #ccc;}
.ntab_content .form_bottom {text-align: right!important; width: 80%;}

.ntabs_info {text-align: right; padding: 10px!important; color: #666; font-style: italic; font-weight: bold;}

input.ntabs_loading {background-image: url(/nuts/img/ajax-loader.gif)!important; background-position: right; background-repeat: no-repeat; background-color: #e5e5e5!important; padding-right: 20px;}
select.ntabs_loading {background-image: url(/nuts/img/ajax-loader.gif)!important; background-position: right; background-repeat: no-repeat; background-color: #e5e5e5!important; padding-right: 20px;}

.ntab_content p span {color: #666; /*font-style: italic;*/ font-size: 10px}





