/** tooltip **/
#tooltip {
    position: absolute;
    z-index: 6666;
    background-color: #fff;

    color: #000;

    border: 0!important;
    padding: 8px;
    opacity: 1;
}
#tooltip h3, #tooltip div { margin: 0; padding: 0; font-size: 11px; font-weight: normal;}



/** tooltip **/
.tooltip{
    position: relative;
    background: #eaeaea;
    cursor: help;
    display: inline-block;
    text-decoration: none;
    color: #222;
    outline: none;
}

.tooltip dd{
    text-align: left;
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    left: 0%;
    z-index: 999999;
    width: 230px;
    margin-left: -220px;
    margin-top: 127px;
    padding: 10px;
    border: 1px solid #ccc;
    opacity: 1;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;

    /* text-shadow: 0 1px 0 rgba(255,255,255,.4); */
}

.tooltip:hover { border: 0; /* IE6 fix */}
.tooltip:hover dd { visibility: visible;}

.tooltip dd:before,
.tooltip dd:after
{
    content: "";
    position: absolute;
    z-index: 9999999;
    bottom: -7px;
    left: 90%;
    margin-left: -8px;
    border-top: 8px solid #ddd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
}

.tooltip dd:before
{
    border-top-color: #ccc;
    bottom: -8px;
}

.tooltip-middle-right dd {

    margin-left: 30px;
    margin-top: -500px;
    bottom: -175px;
}

.tooltip-middle-right dd:before,
.tooltip-middle-right dd:after {
    left: 0%;
    top:134px;

    border-top: 8px solid  transparent;
    border-left: 8px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 8px solid  transparent;

    margin-left: -11px;

}

/* Yellow */
.yellow-tooltip dd {
    border-color: #e1ca82!important;
    background-color: #ffeaa6!important;
}
.yellow-tooltip dd:after { border-top-color: #ffeaa6!important;}
.yellow-tooltip dd:before { border-top-color: #e1ca82!important;}




