.widget_colorpicker {
    width: 70px!important;
    text-align: center;
}

.widget_colorpicker_preview {

    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #AEB5C1;

    margin-right: 1px;

    position: relative;
    top: 0px;
}


.colorpicker input {
    height: 12px;
    padding: 0;
}