#menu {background: #E2E2E2; width: 100%; background-color: #E2E2E2; margin-top: 8px;}
#nav_menu {padding-left: 25px; list-style: none; margin: 0; padding: 0; margin-left: 15px; }
#nav_menu li {

    border: 0; color: #000; padding:5px; padding-left: 7px; padding-right: 7px; list-style: none; float: left; min-width:35px; text-align: center; margin-right: 5px;
    -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}

#nav_menu li a {
    -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
    font-weight: normal; color: #666; font-size: 12px;
}


#nav_menu li a:hover {text-decoration: none; color: #000;}



#nav_menu li.selected {border:1px solid #ccc; padding:4px; background: white; border-bottom-color:white;  padding-left: 6px; padding-right: 6px; }
#nav_menu li.selected> a {color: white; background: transparent;}
#nav_menu > li {background: none; color: #666;}

#nav_menu li.selected ul {left: 0px;}
#nav_menu li ul {position: absolute; z-index: 100;  left: -999999px; width: 99%; /*max-width: 1120px;*/ border: 1px solid #ccc; border-left:0; /*border-right:0;*/  padding: 10px 10px; margin: 0; margin-top:4px; background-color: white; }
#nav_menu li ul li {display: block; float: left; width: 200px; margin-right: 10px; text-align: left; margin-bottom: 0px;}
#nav_menu li ul li img {width: 25px; vertical-align: middle; margin-right: 3px; }
#nav_menu li ul li:hover {cursor: default;}


#nav_menu li ul li[float="left"] + li {float:none;}

#nav_menu li ul li a {display: block; width: 180px; padding: 5px;  }
#nav_menu li ul li a:hover {/*color: white;*/ background-color: #e5e5e5;}
#nav_menu li ul li a:active {color: white; background-color: #1570B8;}

#nav_menu li ul li.breaker {display: none;}



#nav_menu li.parent:hover {cursor:pointer; border:1px solid #ccc; padding:4px; background: white; padding-left: 6px; padding-right: 6px; }

