.datagrid {
    width: auto;
    background-color:#ccc;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
}

.datagrid caption {text-align:left; color:#666666;}
.datagrid th {white-space:nowrap;}
.datagrid th:hover {color: #000;}

.datagrid td {background-color:#fff; padding:5px;}

.datagrid tbody tr:nth-child(even) td {background-color: #eee;}
.datagrid tbody tr:nth-child(odd) td {background-color: #fff;}
.datagrid tbody td[noclick='1'] {background-color: #e5e5e5!important;}
.datagrid tbody tr:hover td {background-color: #FFFFCB;}
.datagrid tbody tr.tr_selected> td {background-color: #DFE8F6;}

.datagrid th> a.datagrid_btn_add {text-align: center; width: 18px;}
.datagrid td> a.datagrid_btn_delete {text-align: center; width: 18px;}

.datagrid a.datagrid_btn_add {display:block; width:16; height: 16px; background-image: url(/nuts/img/icon-add.png); background-repeat: no-repeat; }
.datagrid a.datagrid_btn_add:hover {opacity: 0.3; text-decoration: none!important;

}

.datagrid a.datagrid_btn_delete {display:block; width:16; height: 16px; background-image: url(/nuts/img/icon-delete.png); background-repeat: no-repeat; -moz-background-origin
    filter:grayscale(100%); -moz-filter:grayscale(100%); -webkit-filter:grayscale(100%);
}
.datagrid a.datagrid_btn_delete:hover {text-decoration: none!important;
    filter:grayscale(0%); -moz-filter:grayscale(0%); -webkit-filter:grayscale(0%);
}

.datagrid tfoot td {
    font-weight:bold; text-align:center; background-image:url(th_bkg.png); background-color:#ccc; background-position: bottom;
    padding-top: 3px;
}
