@media screen and (-webkit-min-device-pixel-ratio:0) {


    .widget_colorpicker_preview {margin-top: 2px;}

    #main_title {margin-top: 25px;}

    .thumb_preview {margin-left: -70px!important;}

    .WYSIWYG_toolbar {position:relative; top:1px;}

    #internal_message_toolbar {padding-top: 1px; }
    #notes_toolbar {padding-top: 3px;}

    div#form p, div#form p {padding:0; margin:3px;}
    div#page_form p {margin:0; padding:0; margin-bottom:3px;}

    div#form label, div#form_content label {margin-top: -4px;}

    div#list_container fieldset p {margin:1px; padding:0;}

    div#form label, div#form_content label {padding-top: 7px;}

    .form_view label, .form_view label {padding-top: 3px!important;}

    .button {padding: 1px!important; height: auto!important; padding-left:5px!important; padding-right:5px!important;}

    #visual_query_builder #right_view #SqlCodeHighlighter { padding-left: 2px; padding-top: 2px; padding-bottom: 2px;}

}
