div#home {margin:10px;}
div#home table {width:99%; padding:0px; border:1px solid #ccc;  background-color:white;}
div#home table th {background-color:#ccc; background-image:url(th_bkg.png); text-align:left; font-size:14px; font-weight:bold; padding:5px; white-space:nowrap; border-bottom:2px solid #FF9900;}
div#home table td {padding:5px;}
div#home .mod {width:85px; height:70px; float:left; border:1px solid #ccc; text-align:center; padding:5px; margin-right:5px; margin-top:5px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    transition:all 0.3s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;


}



div#home div:hover {background-color:#ffffaf; border-style:solid; border-color:#C93F9E;

    box-shadow: 0px 0px 15px #999;
    -moz-box-shadow: 0px 0px 15px #999;
    -webkit-box-shadow: 0px 0px 15px #999;


}

div#home .mod a {color:black;}
div#home .mod a:hover
{text-decoration:none;}

div#home .mod:hover
{cursor: pointer; }

div#home .mod:hover> a
{color: #000080!important;}

div#home .mod:active
{
    background-color:orange;
}




div#home_updater {padding:5px; border:1px solid orange; background-color:yellow; font-weight:bold;}