/** window **/
.ui-dialog {background: white;}
.ui-dialog-content {background: white; color: #000;}
.ui-dialog-title {text-transform: uppercase!important; letter-spacing: 1px; font-weight: normal; color: #000; color: #1570B8; font-size: 16px;}
.ui-dialog-titlebar { background: #fff!important;  border-bottom:0; text-align: center;}
.ui-dialog-titlebar-close {background:url(window_close.png) no-repeat!important; width: 16px; height: 16px; }
.ui-dialog-titlebar-close-hover, .ui-dialog-titlebar-close:hover {background:url(window_close.png) no-repeat!important; opacity: 0.5;}
.ui-dialog-titlebar-close:active {background:url(window_close.png) no-repeat!important; opacity: 0.5;}

#nuts_form_canvas {display: none; opacity: 0.5; background-color: white; width: 100%; height: 100%; position: absolute; z-index: 9999999; top:0; left:0; cursor: wait;}


/** window bottom **/
#form_bottom_printer_layout {float:right; margin-top:-35px; margin-right: 10px;}
#form_bottom_printer_layout i {font-size: 16px; color: #666;}
#form_bottom_printer_layout i:hover {color: #000;}
#form_bottom_printer_layout i:active {color: #007dcf;}

div#form p.bottom {margin:0; clear:both; text-align:center; padding:10px; background:none; /*border-top: 3px solid #ddd;*/ padding-top: 7px;}
div#form p.bottom #btn_submit, div#form p.bottom #btn_print, #page_options_bottom #btn_submit {}
div#form p.bottom #btn_cancel, #page_options_bottom #btn_cancel {margin-left: 80px;}
div#form p.bottom #btn_print {margin-right: 80px;} /* for view */
div#form p.bottom #close_after {position: relative; top:6px;}



/** form message **/
div#form_error {display:none;  color:red; padding:10px; background-color:#FFE1FF; margin-bottom:15px; margin-top:5px;}
div#form_error img {margin-right:2px; vertical-align: middle;}
div#form_ok {display:none; color:#009900; padding:10px; background-color:#DAF4D9; margin-bottom:15px;}
div#form span.required {font-weight:bold; color:red;}
div#form_valid {width:980px; text-align:center; font-weight:bold; padding-top:50px; font-size:14px;}
div#form_content {height:450px; overflow:scroll; overflow-x:hidden; overflow-y:auto; padding-right:10px; padding-bottom:20px;}



/** elements **/
div#form { width: 99%; }
div#form label, div#form_content label {width:165px; display:block; float:left; text-align:right; padding-right:10px;  padding-top: 3px; margin-top: 0px; }
div#form p, div#form p {padding:0; margin:3px; margin-top: 8px; }
div#form input[type=text], div#form input[type=password], div#form textarea {width:710px; }
div#form textarea {height:80px;}
div#form_content p select {margin-left: 0px!important;}


div#form textarea.editor {
    border-left:10px solid #ccc;
    width:700px;
    background-color: #fff;
    font-family: courier;
    font-size: 11px;
    background-image: none;

}

div#form textarea.editor:focus {border-left-color: #74B9EF;}



/** image_preview **/
div#form .image_preview {width:80px; float:left; padding:5px; border:1px solid #ccc; background-color:#e5e5e5; margin-right:10px;}
div#form .image_preview br {display: none;}
div#form .image_preview:hover {background-color: #fafad2; border-color: #999;}

div#form .image_preview img {margin-bottom: 8px;}
div#form .image_preview input[type=checkbox] {float:left; top: -4px; margin-left: 0px; margin-right: 5px;}


/** file_preview **/
div#form .file_preview {width:80px; text-align:center; float:left; padding:5px; border:1px solid #ccc; background-color:#e5e5e5; margin-right:10px;}
div#form .file_preview:hover {background-color: #fafad2; border-color: #999;}
div#form .file_preview img {margin-bottom: 8px;}
div#form .file_preview input[type=checkbox] {float:left; top: -4px; margin-left: 0px; margin-right: 5px;}

div#form .icon:hover {opacity: 0.5;}



/** checkbox list **/
div#form .checkbox_list, div#page_form .checkbox_list {overflow: scroll; height: 125px; overflow-x: hidden; width: 465px; padding-bottom: 10px;}
div#form .checkbox_list label, div#page_form .checkbox_list label{margin-left: 0; padding-left: 0; text-align: left; display: block; float: none; font-weight: normal; white-space: nowrap; width: auto;}
div#form .checkbox_list label:hover, div#page_form .checkbox_list label:hover {color:#666; cursor: pointer;}
div#form .checkbox_list input[type=checkbox] {/* position: relative; top:3px;*/ margin-right: 5px;}



/** console **/
div#console {padding:5px; background-color:#000; border:1px solid #000; font-family:"Courier New", Courier, monospace; font-size:11px; color:white;}
div#console a {color: #00AAFF; color: #00AAFF;}


/** view **/
.form_view label {padding-top: 0!important;}



/** form treatment progress **/
#trt_progress_window iframe {display: none;}

#trt_progress_window {
    background-color: #F3F3F3;
    position: relative; top:-70px; left: 100px;
    width: 780px; height: 150px;
    text-align: center;
    font-weight: bold;
    display: none;
}

#trt_progress {
    border: 1px solid #999;
    width: 100px;
    margin-left: auto;
    margin-right: auto;

    border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;

}

#trt_progress_bar {
    margin: 1px;
    width: 0%;
    height: 100%;
    background-color: #ccc;
}
