#home {margin-top: -10px; text-align: center;}

#home_notification:empty {display: none;}
#home_notification div {padding: 5px; padding-left: 23px; margin-bottom: 2px;  background-repeat: no-repeat; background-position: 3px center;}

#home_notification .info {background-color: #fafad2; color: #333; background-image: url(../img/icon-help.png);}
#home_notification .warning {background-color: #e5e5e5; color: #333; background-image: url(../img/icon-tag-moderator.png);}
#home_notification .error {background-color: #FFE1FF; color: #FF0000; background-image: url(../img/icon-error.gif);}

#home #shortcut_empty {text-align: center; color: #666;}

.dashboard-widget {border:1px solid #1570B8;}
.dashboard-widget .dashboard-widget-title {background-color:#1570B8; color: #fff; padding: 2px 5px; text-align: left;}
.dashboard-widget .dashboard-widget-title:empty {display: none;}
.dashboard-widget .dashboard-widget-content {padding: 10px;}
.dashboard-widget .dashboard-widget-end {clear: both}

.dashboard-widget .no-record {height: 65px; line-height: 65px;}
.dashboard-widget .no-record i {font-size: 16px; color: #ccc; margin-right: 5px; margin-top: 5px;}

.dashboard-widget table {width: 100%; margin: 0;}
.dashboard-widget th {background-color: white; border-bottom: 1px solid #ccc;}
.dashboard-widget tr.with_selector:hover> td {background-color: lightcyan; cursor: pointer;}


/* rows */
.dashboard-widget-row-full {clear:left; margin-bottom: 15px;}
.dashboard-widget-row-2-rows {float:left; width:49%;  margin-bottom: 15px;}
.dashboard-widget-row-2-rows:nth-child(odd) {float:right;}

.dashboard-widget-row-3-rows {width:32%; display: inline-table;}
.dashboard-widget-row-3-rows-1 {float:left; }
.dashboard-widget-row-3-rows-2 {margin:0 auto;}
.dashboard-widget-row-3-rows-3 {float:right;}

/* nTabs */
.dashboard-widget .ntabs li {font-size: 11px; letter-spacing: 0px; text-transform: none; padding: 5px; }
.dashboard-widget .ntabs li.selected {background-color: #e5e5e5; border-color: #e5e5e5; color: #333!important;}
.dashboard-widget .ntab_content {padding: 10px; overflow: scroll; height: 250px;}
.dashboard-widget .ntab_content .no-record {margin-top: 60px;}


/* list image */
.dashboard-widget .dashboard-widget-content .list-image {display: block; float:left; width: 70px; height: 80px; text-align: center; overflow: hidden; color: #666; margin: 2px 2px;}
.dashboard-widget .dashboard-widget-content .list-image:hover {color: #1570B8;}
.dashboard-widget .dashboard-widget-content .list-image:active {color: #000;}
.dashboard-widget .dashboard-widget-content .list-image:first-child {margin-left: 0;}
.dashboard-widget .dashboard-widget-content .list-image:last-child {margin-right: 0;}
.dashboard-widget .dashboard-widget-content .list-image img {height: 28px;}
