/** js calendar **/
div.calendar { position: relative; }
div.calendar td, div.calendar th {border: 0px; background: none; padding: 5px; text-align: center;}

.calendar, .calendar table {

    color: #000;
    cursor: default;
    background: #F1F8FC;

    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;

    border-spacing: 0px;
    margin-top: 0px;
    background: white;
}

.calendar table
{
    border: 1px solid #666;
    padding: 5px;
}

/* Header part contains navigation buttons and day names. */

.calendar .button {

    /* "<<", "<", ">", ">>" buttons have this class */
    text-align: center;    /* They are the navigation buttons */

}

.calendar .nav {
    background: #007ED1 url(menuarrow2.gif) no-repeat 100% 100%;
    background-color: white!important;
}

.calendar thead .title { /* This holds the current "month, year" */
    font-weight: bold;      /* Pressing it will take you to the current date */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.calendar thead tr { /* Row <TR> containing navigation buttons */
    color: #1570B8;
}

.calendar thead .daynames { /* Row <TR> containing the day names */

}

.calendar thead .name { /* Cells <TD> containing the day names */
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
    background-color: #e5e5e5;
}

.calendar thead .active { /* Active (pressed) buttons in header */
}

/* The body part contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
}

.calendar tbody .day.othermonth {
}

.calendar tbody .day.othermonth.oweekend {

}

.calendar table .wn {
    color: #aaa;
    background: white;
}

.calendar tbody .rowhilite td {

}

.calendar tbody .rowhilite td.wn {
    color: #333;
}


.calendar tbody td.hilite { /* Hovered cells <TD> */
    background: #e5e5e5;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
    color: white;
    background: #3399FE;
}


.calendar tbody td.selected { /* Cell showing today date */
    font-weight: bold;
    color: white!important;
    background: #3399FE;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
}

.calendar tbody td.today { /* Cell showing selected date */
    color: #1570B8;
    font-weight: bold;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
    visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
    display: none;
}


/* The footer part status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
    text-align: center;
    color: #1570B8;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
    border-top: 1px solid #ccc;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */

}


.calendar tfoot .active { /* Active (pressed) style for buttons in footer */

}


/* Combo boxes (menus that display months/years for direct selection) */
.calendar .combo {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 4em;
    cursor: default;
    border: 1px solid #655;
    background: white;
    z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
    text-align: center;
    padding: 3px 10px;
}

.calendar .combo .label-IEfix {
    width: 4em;
}

.calendar .combo .hilite {
    background: #e5e5e5;
}

.calendar .combo .active {
    font-weight: bold;
}


.calendar td.time {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 15px;
}


.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
    padding: 5px 10px;
    border: 1px solid #889;
    font-weight: bold;
    margin: 0 2px;
}

.calendar td.time .ampm {
    text-align: center;
}


.calendar td.time .colon {
    font-weight: bold;
}

.calendar td.time span.hilite {
    border-color: #3399FE;
    background-color: #3399FE;
    color: #fff;
}


.calendar td.time span.active {
    background-color: #3399FE;
    color: #fff;
}