<div class="n_window" id="groups_window">

    <div class="n_titlebar">
        <div class="n_title"><i18n>Groups</i18n></div>
        <div class="n_close">
            <a class="close" href="javascript:;" onclick="nWindowClose('groups_window');"></a>
        </div>
    </div>

    <div class="n_content">

        <div class="n_bottom_buttons">
            <input type="text" class="search" placeholder="<i18n>Search</i18n>" />
        </div>

        <table class="n_table" style="width: 100%;">
            <thead>
            <tr>
                <th class="center min30">&nbsp;</th>
                <th><i18n>Name</i18n></th>
                <th><i18n>Description</i18n></th>
                <th class="center min30"><i18n>Users</i18n></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div class="n_bottom_buttons">
            <input type="button" value="<i18n>Add these groups</i18n>" onclick="attachGroups();" />
        </div>

    </div>

</div>
<script>
    $('#groups_window .search').keyup(function(){

        v = strtolower($(this).val());

        if(empty(v))
        {
            $('#groups_window tbody tr').show();
        }
        else
        {
            $('#groups_window tbody tr').hide();
            $('#groups_window tbody tr[groupname*='+v+']').show();
        }



    });
</script>