aside .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}



aside .notice, aside .info {
	
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

aside .warning {

	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;

}

aside .error, aside .danger {

	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

}

