input[type=button] {padding: 2px 8px; margin-left: 5px; border: 1px solid #ccc; background: url(/nuts/css/button_bkg.png); /*border-radius: 3px;*/ }
input[type=button]:hover {border-color:#4C607A; color:#666; background: none; cursor: pointer;  }
input[type=checkbox] {cursor: pointer;}

.plupload_scroll .plupload_filelist {height: 320px;}
li.plupload_droptext {line-height: 280px;}

/* bug fix headers in content view */
div#files ul#content li a span.filemodified {width: 215px;}
div#files ul#content li a span.filesize {width: 215px;}

/* bug fix folder path length */
#newfolderform #folderpath {width:550px; font-size:12px;}

/* details sorter */
#files #details th {
    background-repeat: no-repeat!important;
    background-position: right 5px!important;
    padding-right: 25px!important;
    white-space: nowrap!important;
}

#files #details th:hover {
    background-image: url(/library/php/TPLN/img/order_asc.gif)!important;
    cursor: pointer;
}

#files #details th.selected {color:black; background-color: #E3E9FF;}
#files #details th.selected_up {background-image: url(/library/php/TPLN/img/order_asc_actived.gif)!important;}
#files #details th.selected_down {background-image: url(/library/php/TPLN/img/order_desc_actived.gif)!important;}

#tree, #files, #main, #file-specs {user-select:none; -moz-user-select:none; -webkit-user-select:none;}
ul.treeview {width: 100%!important;}
div#vertical-resize-handler{background: none; background-color: #e5e5e5; width: 5px; }
div#vertical-resize-handler:hover {background-color: #ccc;}
#tree {background-color: #F1F5FB;}

ul.treeview li {display: table; white-space: nowrap;}

.ui-resizable-e {
    background-color: #E5E5E5;
    width: 10px;
    background-image: url(/nuts/css/draggable.gif);
    background-position: center;
    background-repeat: no-repeat;
}
.ui-resizable .ui-resizable-handle {
    display: block;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 11px;
    right: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 50;
}

.ui-resizable-e:hover {background-color: #CCD9EA;}


div#file-specs #info div span {width: auto;}

form#fileform {display: none;}


.n_window {

    width: 750px;
    height: 550px;
    position: absolute;
    z-index: 55;
    top:10%;
    left:25%;
    background-color: white;
    border: 1px solid #A0AFC3;
    box-shadow: 0px 0px 50px #aaa;
    display: none;
}

.n_window .n_titlebar {background: transparent url(../img/navbar.png) 0 0 repeat-x; height: 31px; padding:0 3px; padding-left: 10px; line-height: 31px; cursor: move;}
.n_window .n_title {float:left;}
.n_window .n_close {float: right; margin-right: 3px; margin-top: 7px;}
.n_window .n_close a {background-image: url(../img/cancel.png); background-repeat: no-repeat; display: block; width: 16px; height: 16px;}
.n_window .n_close a:hover {opacity: 0.5;}
.n_window .n_content {padding: 10px; clear: both;

    overflow: auto;
    overflow-x: hidden;
    height: 500px;

}


.n_window .n_content p {padding-bottom: 10px;}
.n_window .n_content p label {display: block; width: 150px; float:left; text-align: right; padding-right: 10px;}
.n_window .n_content p label[for] {cursor: pointer;}
.n_window .n_content input[type=text], .n_window .n_content textarea, .n_window .n_content select {
    border: 1px solid #A9B4BF;
    color: #333;
    height: 18px;
    line-height: 18px;
    width: 450px;
    margin: 0;
    margin-right: 5px;
    padding: 0 3px;
    font-family: inherit;
    font-size: inherit;
}


.n_window .n_content input:focus, .n_window textarea:focus, .n_window select:focus {
    border-color: #396DB5;
}

.n_window .n_content textarea {height: 150px; padding:3px;}
.n_window .n_content select {width: auto; padding: 0; height: 20px; line-height: 20px; }


.n_window .n_bottom_buttons_centered {text-align: center; padding-top: 50px;}
.n_window .btn_submit {background: #396DB5; color: white; border-color: #396DB5; margin-right: 50px;}
.n_window .btn_submit:hover {background: #D6E3F7; color: #333;}


.n_window .n_content input.search {background-color: transparent; border: 1px solid #A9B4BF; color: #6D6D6D; font-family: inherit; height: 18px; line-height: 18px; width: 205px; margin: 4px 0 0 5px; padding: 0;
    background: url(../img/addressbar.png) left -118px no-repeat;
    padding-left: 26px;
}



#upload_window .n_content {padding: 0;}
#upload_window {height: 480px;}

.plupload_container {padding: 0!important}

div#file-specs #info div.fileupload {
    top: 72px;
}

div#file-specs #info div.fileupload input {
    cursor: pointer;
    padding: 0 3px;
}

.n_top_buttons, .n_bottom_buttons {padding: 0px; text-align: right; margin-bottom: 15px;}
.left_title {float: left; font-size: 14px; color: #4C607A; }
.left_title img {vertical-align: middle; }
.left_title span.folder_name {margin-left: -5px;}

.n_bottom_buttons label {cursor: pointer;}

.n_table { padding:0; border:0; margin:0; margin-bottom:10px; border-collapse:collapse;}
.n_table thead th { height: 24px; line-height: 24px; text-align: left; font-weight: normal; color: #4C607A; padding: 0 5px; border: 1px solid #ccc; background: url(../img/navbar.png) center top repeat-x;  }
.n_table tbody td { color: #777; height: 24px; line-height: 24px; margin:0; padding: 0 5px; border: 1px solid #ccc;}
.n_table .center {text-align: center;}
.n_table .min30 {white-space: nowrap; width: 30px;}
.n_table .center input[type=checkbox] {position:relative; top: 2px;}
.n_table .n_loader {height: 80px; background: url(../img/ajaxLoader.gif) center center no-repeat;}

.n_table td a.delete {display: block; float: left; width: 16px; height: 16px; background-image: url(/nuts/img/icon-delete.png); margin-top: 3px; margin-left: 7px;}
.n_table td a.delete:hover {opacity: 0.5;}

.n_table span.group {display: block; float: left; width: 16px; height: 16px; background: url(../img/user_group.png); margin-right: 5px; margin-top: 2px; }
.n_table span.user {display: block; float: left; width: 16px; height: 16px; background: url(../img/user-icon.png);  margin-right: 5px; margin-top: 2px; }

#rights_window tr.group_everybody .delete {display: none;}

#groups_window {width: 850px; height: 500px; }
.n_window .tag {
    background-color: #e5e5e5;
    border-radius: 3px;
    padding: 0px 4px;
}

.n_window .tag:hover {color: black;}
#EditLive_AppletContainer {display:block; position:absolute; top: 30px; right: 30px; }



/* file comments */
.filecomments, .filecomments_img {padding-left: 18px; top: 84px; background: url(/nuts/img/icon-help.png) no-repeat;}
.filecomments span, .filecomments_img span {font-weight: bold;}
.filecomments_img {top: 104px;}


/* file lock */
.filelocked {padding-left: 18px; top: 104px; background: url(/nuts/img/icon-lock.png) no-repeat;}
.filelocked span {font-weight: bold;}


/* view file lock */
/*li.file_lock a, li.file_lock span  {color:red!important;}
tr.file_lock td {color:red!important;}
*/

#files a[href$='.del'], #files tr[href$='.del'],
#files a[href$='.del/'], #files tr[href$='.del/'],
#tree a[href$='.del/']
{
    opacity: 0.5;
    filter:grayscale(100%);

}

