body {width: 100%; text-align: center;}
.container {padding: 10px;}
.container, .buttons {width:950px; text-align: left; margin: 0 auto;}
.buttons {clear:left; text-align: center; padding: 20px;}
#webcam {width: 450px; height: 400px; margin-right:20px; float: left; border: 1px solid #000;}
#preview {width: 450px; height: 400px;  float: left; border: 1px solid #000;}

#preview img {vertical-align: middle; align-content: center; text-align: center;}

#btn_submit {margin-right: 50px;}
.photobooth ul {list-style: none; width: 30px!important; padding: 0px;}
